
@page

@model webappli_ben_taleb_badreddine.Pages.demandeModel

@{
    ViewData["Title"] = "Nouvelle demande";
}
<div class="demande">
    @if (Model.HasData)
    {
        <div class="container1">
            <section class="user-info">
                <h2 class="section-title">Détails de la demande </h2>
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <th scope="row">Nom Complet :</th>
                            <td>
                                @HttpContext.Session.GetString("userFirstName")
                                @HttpContext.Session.GetString("userLastName")
                                
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">E-mail :</th>
                            <td>  @HttpContext.Session.GetString("userLogin")</td>
                        </tr>
                        <tr>
                            <th scope="row">Longueur :</th>
                            <td>@Model.Longueur m</td>
                        </tr>
                        <tr>
                            <th scope="row">Largueur :</th>
                            <td>@Model.Largeur m</td>
                        </tr>
                        <tr>
                            <th scope="row">La superficie de cette pièce :</th>
                            <td>@Model.superficie m<sup>2</sup></td>
                        </tr>
                        <tr>
                            <th scope="row">Coût de matériaux :</th>
                            <td>@Model.cout_materiaux DH</td>
                        </tr>
                        <tr>
                            <th scope="row">Coût de la main d'œuvre :</th>
                            <td>@Model.cout_installation DH</td>
                        </tr>
                        <tr>
                            <th scope="row">Total non inclus :</th>
                            <td>@Model.total_non_inclus DH</td>
                        </tr>
                        <tr>
                            <th scope="row">Taxe matériaux :</th>
                            <td>@Model.taxe_materiaux DH</td>
                        </tr>
                        <tr>
                            <th scope="row">Taxe installation :</th>
                            <td>@Model.taxe_installation</td>
                        </tr>
                        <tr>
                            <th scope="row">Total taxe inclus :</th>
                            <td>@Model.total_taxe_inclus DH</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>


    }
    else
    {
        
        <h1>Bienvenu</h1>


        <div class="container1">

            <section class="contact-form">
                <h2>veuiller entrer les données de votre commande  </h2>

                <form method="post">
                   
                    <div class="form-group">
                        <label for="Longueur">Longueur :</label>
                        <input type="number" id="Long" name="Long" required>
                    </div>
                    <div class="form-group">
                        <label for="largeur">Largeur:</label>
                        <input type="number" id="larg" name="larg" required>
                    </div>
                    <div class="form-group">
                        <label for="typeCouvrePlancher">Choisissez le type de couvre-plancher :</label>
                        <select id="typeCouvrePlancher" name="NbType">
                            <!-- Ajout de l'attribut "name" avec la valeur "NbType" -->
                            @foreach (var type in Model.ListCouvrePlancher)
                            {
                                <option value="@type.id">@type.Type</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn">Envoyer</button>
                </form>
            </section>

            <section class="contact-info">
                <h2>Coordonnées</h2>
                <ul>
                    <li><strong>Adresse :</strong> Planchert expert ,Tanger, 90000</li>
                    <li><strong>Téléphone :</strong> +212 544588889</li>
                    <li><strong>E-mail :</strong> Planchert_expert@gmail.com</li>
                </ul>
                <h2>Nos Types de Couvre-Plancher </h2>

                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Numéro</th>
                            <th>Type de couvre-plancher</th>
                            <th>Matériaux (coût par m2)</th>
                            <th>Main d'œuvre (coût par m2)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListCouvrePlancher)
                        {
                            <tr>

                                <td>@item.id</td>
                                <td>@item.Type</td>
                                <td>@item.Materiaux</td>
                                <td>@item.MainOeuvre</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </div>
    }

</div>
